<div class="container">
  <div class="header">
    <ul class="nav nav-pills pull-right">
      <li>
        <a href="#!/">Home</a>
      </li>
      <li class="active">
        <a href="#!/about">About</a>
      </li>
      <li>
        <a href="#!/contact">Contact</a>
      </li>
    </ul>
    <h3 class="text-muted">
      Home module testing {{pageTitle}}
      <i class="fa fa-cog fa-spin"></i>
    </h3>
  </div>
  ABOUT ME
  <div class="footer">
    <p>♥ from the Yeoman team</p>
  </div>
</div>
